# Relecteurs par défaut : Naabiga OS
* @princebilogocode

/iso/ @princebilogocode
/installer/ @princebilogocode
/packages/ @princebilogocode
/apps/ @princebilogocode
/branding/ @princebilogocode
/desktop/ @princebilogocode
/docs/ @princebilogocode
/.github/ @princebilogocode
